h1 {
  text-align: center;
  font-size: 3rem;
  font-style: oblique;
  color: darkgray;
}
h2 {
  text-align: center;
  font-size: 2rem;
  font-style: oblique;
  text-decoration: underline;
  color: darkgray;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    114deg,
    rgba(2, 0, 36, 1) 19%,
    rgba(19, 73, 185, 0.8774860285911239) 65%,
    rgba(0, 212, 255, 1) 100%
  );
}
